.main{
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;

}

.main .background-image {
  position: absolute;
  margin-top: -49px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
  padding-bottom: 50%;

}

.main h1{
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.main h3{
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.main-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade{
  100%{
    opacity: 1;
    margin: 0;
  }
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}
